* {
margin : 0;
padding : 0;
border : 0;
}
body {
padding : 0 0 0;
min-width:100%;
background: E1DDC7;
color: #333333;
font-family : sans-serif;
}

#container {
width : 96%;
margin : auto;
background: #ffffff;
border : 1px solid #999;
float:center;
}
#header {
background: #D3DAE0;
width : 96%;
height : 158px;
margin:auto;
clear : both;
}

#lev {
width : 20%;
border : 1px solid #999;
padding: 0;
margin:auto;
float : left;

}

#menu {
wigth: 19%;
padding 0;
FONT-SIZE: : 0.8em;

font-weigth:bold;
text-align:left;

}
#menu ul {
list-style-type:none;
}
#menu li a {
color:#134f9f;
}
#menu li a:hover {
color:#f00;
}

#text {
width : 55%;
border : 1px solid #999;
padding: 0;
font-size : 0.8em;
color : #333;
margin:auto;

float:left;
overflow:hidden;

}
#text p {
text-align : justify;
text-indent : 1.5em;
margin : 0;
padding : 0 15px;
}
#text a {
color : #134f9f;
}
#text a:hover {
color : #f00;
border-bottom : 1px dotted #f36;
}
.bord { border-collapse: collapse }
.nazv {
FONT-SIZE: 16pt; 
text-align:center; 
font-family :sans-serif; 
color: #134f9f;
}

.img1 {
width : 200px;
height : 287px;
margin : 0 0 0 15px;
float:left;
}

.img2 {
width : 200px;
height : 200px;
margin : 10px 10px 0 15px;
float : left;
}
.venzel {
width : 300px;
height : 23px;
margin : 10px 10px 0 15px;
float : left;
}

#rev {
width : 20%;

padding: 2px;
margin:auto;
float : left;

}

#footer {
background : #665;
color : #fff;
font-size : 70%;
padding : 5px;
clear : both;
}
#footer a {
color : #ff0;
}
#footer a:hover {
color : #f00;
}
#footer p {
padding : 2px;
text-align : center;
}

#menu_podv {
wigth: 19%;
padding 0;
FONT-SIZE: : 0.8em;
background : #665;
color : #fff;
border : 1px solid #999;
font-weigth:bold;
text-align: left;

}

#menu_podv li {
display:inline;
margin:0.8px;
}
#menu_podv ul {
list-style-type:none;
}
#menu_podv li a {
color : #fff;
}
#menu_podv li a:hover {
color:#f00;
}
.clearfloat {
clear : both;
}


